html {
     scroll-behavior: smooth;
     transition-timing-function: ease-in-out;
     transition-duration: 5s;
    }

body {
    font-family: 'Montserrat', sans-serif;
}

/* The profile picture */
.profile {
    border-radius: 0%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    display: inline-block;
    margin: auto;
    max-width: 65%;
}
.profile:hover {
    filter: none;
}

.social img {
    border-radius: 0%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
/*     display: block; */
/*     margin: auto; */
    max-width: 5%;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #75151e;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.sidenav h2 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.sidenav p {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    margin-top: 30px;
    opacity: 0.8;
    }

.contact.label {
    font-family: 'Montserrat', sans-serif !important;    
    font-size: 10px !important;
    font-style: normal !important;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 40px !important;
    } 
    
/* No bullet, no indent, contact details lists */
ul.contact {

  list-style-type:none;
  padding: 0pt;
  font-size: 18px;
}
    
    
.contact {
    font-family: 'Montserrat', sans-serif !important;  
    font-style: normal !important;
    font-size: 14px !important;
    opacity: 1 !important;
    font-weight: 300;
    margin-top: 0px !important;
    }

.social {
/*     margin-left: 0px; */
/*     margin-bottom: 80px; */
}

.social img {
/*     display: block; */
/*     float: left; */
/*     margin-right: 15px; */
    max-width: 35%;
/*     border-radius: 30%; */
/*     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ */
    filter: grayscale(100%);
/*     margin: auto; */
 
}

.social a {
    padding: 0px !important;
}

/* Findme details lists */
ul.findme {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 1;
  list-style-type: none;
}

.paper_title {
    font-weight: 500 !important;
    margin-bottom: 0em;
}
.paper_details {
    margin-top: 0em !important;
}
    

/* The navigation menu links */

.menu {
    margin-top: 40px;
}

.menu a {
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    font-size: 14px !important;
    color: #ffffff !important;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    opacity: 0.5;
}

.social img:hover {
    opacity: 0.5;
}

/* Style page content */
.main {
    margin-left: 25%; /* Same as the width of the sidebar */
    margin-right: 5%; /* Leave some margin on the right side */
    padding: 50px 50px 50px 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.main p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 1rem;
    text-align: justify;
}

.intro {
    font-size: 18px !important;
}


.plaintext_a {
    text-transform: none; 
}

h1 {
    font-size: 24px !important;
    font-weight: 300 !important;
    text-transform: uppercase; 
    padding-bottom: 0px;
    padding-top: 20px
}

a {
    color: #b34d4d !important;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
}

/* On smaller screens (less padding and a smaller font size) */
@media only screen and (max-width: 768px) {
    .sidenav {
        width: 300px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        }
    
    .sidenav h2 { 
        font-size: 20px;   
        }
         
    .main {
        margin-left: 300px;}
}   

@media only screen and (max-width: 576px) {
    .sidenav {
    width: 100%;
    position: static;
    }
    
    .menu {
        display: none;
    }
    
    .sidenav h2 { 
        font-size: 24px;   
        }
    
    .main { 
       margin-left: 0px; 
       padding-top: 20px;
        
    }
    
}

img.logo{
    float: right;
    max-width: 40%;
/*     margin: 1rem 1 1rem 1rem; */
    margin-left: 2%;
}


 a.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #ffffff !important;
  text-decoration: none;
}
