<style>

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  
/*.navbar .navbar-link{
	color:#999
}*/

/* The navigation bar */
.navbar {
    margin: 20px auto;
    width: 940px;
/*     min-height: 100%; */
    padding: 0px 40px;
    background-color: #E9E9E9;
    overflow: hidden;
/*   position: fixed; /* Set the navbar to fixed position */ */
/*   top: 0; /* Position the navbar at the top of the page */ */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
/*   color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}


h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family:inherit;
	font-weight:bold;
	color:inherit;
	text-rendering:optimizelegibility
}

.right {
    position: relative;
    padding: 10px;
}

a{
/* 	color:#08c; */
/* 	text-decoration:none */
}

h1 small{
    padding: 10em 1em 0em 0em;
    font-size:20px;
    line-height:25px;
    font-weight:normal;
}


h1{
	font-size:30px;
	line-height:36px
}

ul ul,ul ol,ol ol,ol ul{
	margin-bottom:0
}
ul{
	list-style:circle;
}



  #content {
    overflow: hidden;
  }

  #content aside {
    float: left; width: 200px;
  }

  #content section {
    float: right; width: 580px;
  }
  #content section h1 {
    margin-bottom: 10px;
  }

h0 {font-size: 50px;
color:#0033cc;
font-family:Verdana;}

  h1 { font-size: 60px;
padding: 1em 0em 0em 0em;

 }

  h2 { font-size: 30px; }

  h2, h3 { border-bottom: 1px solid #F9E6E6; margin-bottom: 10px; margin-top: 5px; }

/*  

  #content h3 { margin-top: 20px; }

p, li {
    font-family: Verdana;
  }
*/
h3{
	font-size:18px;
	line-height:27px
}

  body > footer {
    margin: 20px 0;
    border-top: 1px solid #E4E4E4;
    padding-top: 15px; width: 100%;
  }

body{
    background-color: #222222;
/*     background-image: url("images/backmar.gif"); */
    height: 100%;
    font-size:18px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul {
type: square;
}

#outer {
    clear: both;
    margin: 20px auto;
    width: 940px;
    min-height: 100%;
    padding: 20px 40px;
    background-color: #E9E9E9;
}
 a.reverse {
        unicode-bidi: bidi-override;
        direction: rtl;
        }

.columnlist {
    -webkit-columns: 1; /* Chrome, Safari, Opera */
    -moz-columns: 1; /* Firefox */
    columns: 2;
}

.img-circle {
    border-radius: 50%;
    margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>



