/* Customize Bibbase */


.bibbase_paper_title a {
    color: var(--global-text-color);
    pointer-events: none;
}

.dropdown {
    margin-right: 2rem;
}

.dropdown li{
    width: 180px;
    margin-left: 12px;
}

.bibbase > pre {
    border: solid rgb(13, 62, 105) 0.15rem;
    border-radius: 0.25rem;
}

.bibbase_icon { 
    display: none;
}

.note {
    display: none;
}
